<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bizzlers</display-name>
  <welcome-file-list>
    <welcome-file>html/index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>jsp/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bizzlers.foundation.authentication.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.bizzlers.foundation.FDE.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDetailsServlet</display-name>
    <servlet-name>DisplayDetailsServlet</servlet-name>
    <servlet-class>com.bizzlers.foundation.FDE.servlet.DisplayDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDetailsServlet</servlet-name>
    <url-pattern>/DisplayDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUser</display-name>
    <servlet-name>registerU</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerU</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerBusiness</display-name>
    <servlet-name>registerB</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.RegisterBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerB</servlet-name>
    <url-pattern>/registerBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterBusiness</display-name>
    <servlet-name>RegisterBusiness</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.RegisterBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBusiness</servlet-name>
    <url-pattern>/RegisterBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddService</display-name>
    <servlet-name>AddService</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.AddService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddService</servlet-name>
    <url-pattern>/addservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTag</display-name>
    <servlet-name>AddTag</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.AddTag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTag</servlet-name>
    <url-pattern>/addtag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBusiness</display-name>
    <servlet-name>EditBusiness</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.EditBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBusiness</servlet-name>
    <url-pattern>/EditBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProducts</display-name>
    <servlet-name>ViewProducts</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ViewProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProducts</servlet-name>
    <url-pattern>/ViewProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllBusiness</display-name>
    <servlet-name>getAllBusiness</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.getAllBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllBusiness</servlet-name>
    <url-pattern>/getAllBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordChange</display-name>
    <servlet-name>PasswordChange</servlet-name>
    <servlet-class>com.bizzlers.foundation.authentication.servlet.PasswordChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordChange</servlet-name>
    <url-pattern>/PasswordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCategory</display-name>
    <servlet-name>ChangeCategory</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ChangeCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCategory</servlet-name>
    <url-pattern>/ChangeCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServices</display-name>
    <servlet-name>ViewServices</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ViewServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServices</servlet-name>
    <url-pattern>/ViewServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTags</display-name>
    <servlet-name>ViewTags</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ViewTags</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTags</servlet-name>
    <url-pattern>/ViewTags</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewCategory</display-name>
    <servlet-name>ReviewCategory</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ReviewCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewCategory</servlet-name>
    <url-pattern>/ReviewCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewCat</display-name>
    <servlet-name>ReviewCat</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ReviewCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewCat</servlet-name>
    <url-pattern>/ReviewCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewUserProfile</display-name>
    <servlet-name>viewUserProfile</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.viewUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewUserProfile</servlet-name>
    <url-pattern>/viewUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBusinessList</display-name>
    <servlet-name>ViewBusinessList</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.ViewBusinessList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBusinessList</servlet-name>
    <url-pattern>/ViewBusinessList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBusinessProfile</display-name>
    <servlet-name>ViewBusinessProfile</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ViewBusinessProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBusinessProfile</servlet-name>
    <url-pattern>/ViewBusinessProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBusiness</display-name>
    <servlet-name>ViewBusiness</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ViewBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBusiness</servlet-name>
    <url-pattern>/ViewBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBusinessInfo</display-name>
    <servlet-name>GetBusinessInfo</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.GetBusinessInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBusinessInfo</servlet-name>
    <url-pattern>/GetBusinessInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPStEdit</display-name>
    <servlet-name>DisplayPStEdit</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.DisplayPStEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPStEdit</servlet-name>
    <url-pattern>/DisplayPStEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePST</display-name>
    <servlet-name>DeletePST</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.DeletePST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePST</servlet-name>
    <url-pattern>/DeletePST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileAction</display-name>
    <servlet-name>EditProfileAction</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.EditProfileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileAction</servlet-name>
    <url-pattern>/EditProfileAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNews</display-name>
    <servlet-name>AddNews</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.AddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNews</servlet-name>
    <url-pattern>/addnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyCategory</display-name>
    <servlet-name>DenyCategory</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.DenyCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyCategory</servlet-name>
    <url-pattern>/DenyCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminNews</display-name>
    <servlet-name>ViewAdminNews</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.ViewAdminNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminNews</servlet-name>
    <url-pattern>/ViewAdminNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminNews</display-name>
    <servlet-name>AddAdminNews</servlet-name>
    <servlet-class>com.bizzlers.foundation.platform.servlet.AddAdminNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminNews</servlet-name>
    <url-pattern>/AddAdminNews</url-pattern>
  </servlet-mapping>
</web-app>